In [1]:
# two ways to travers a list

# 1. itemwise
# 2. indexwise

In [2]:
# itemwise
L = [10, 20, 30, 40, 50]

for i in L:
    print(i)

10
20
30
40
50

In [3]:
# indexwise
L = [10, 20, 30, 40, 50]

for i in range(0,len(L)):
    print(i)

0
1
2
3
4

In [4]:
# indexwise but print list items
L = [10, 20, 30, 40, 50]

for i in range(0,len(L)):
    print(L[i])

10
20
30
40
50

In [5]:
# ZIP Function

l1 = [1,2,3,4,5]
l2 = [2,4,6,8,10]

# zip returns tuple
# list make them list []

#list(zip(l1,l2))

[i+j for i,j in zip(l1,l2)]

[3, 6, 9, 12, 15]

In [6]:
# newlist = [expression for item in iterable if condition == True]

In [7]:
# Add 1 to 10 numbers to a list
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
# Scalar multiplication on a vector
vector = [2,4,6,8]
scalar = -4
[scalar * i for i in vector]

[-8, -16, -24, -32]

In [9]:
# Add squares
sq = [1,5,3,2,6]
[i**2 for i in sq]

[1, 25, 9, 4, 36]

In [10]:
# print all numbers in a range of 1 to 50 which are divisible by 5
[i for i in range(1,51) if i % 5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [11]:
# find languages which starts with p
languages = ['php', 'c', 'perl', 'swift', 'java', 'python', 'ruby', 'scala', 'javascript']
[i for i in languages if i.startswith('p')]

['php', 'perl', 'python']

In [12]:
# Nested if with nested Comprehension
basket = ['apple', 'banana', 'grapes', 'mango', 'cherry']
fruits = ['apple', 'kiwi', 'cherry', 'custardapple', 'banana']

[i for i in fruits if i in basket if i.startswith('a')]

['apple']

In [13]:
# print (3 x 3) matrix

[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [14]:
# cartesian product

l1 = [1,2,3,4]
l2 = [2,4,6,8]

[i*j for i in l1 for j in l2]

[2, 4, 6, 8, 4, 8, 12, 16, 6, 12, 18, 24, 8, 16, 24, 32]

In [15]:
#

In [16]:
# Tuples

# 1. Tuples are same as list but immutable
# 2. fatser than list (because immutables)
# 3. stores little bit less memory than list (because immutables)
# 4. use comma when create tuple like this ... ("saif",)

In [17]:
# Set

# set is unordered
# sets are mutable
# No duplicates are allowed
# Can't contain mutable datatypes

In [18]:
# Creation of set

# empty
set() # no s={} because it will create empty dictionary
# 1d and 2d
s1 = {1,2,3}
# homo and hetro (order is because of hashing)
s2 = {1, 2.5, (2,5), 'hello', True}
# can't have mutable items

# Accessing are not allowed

In [19]:
a = {1,2,3}
b = {3,2,1}

print(a == b)

True

In [20]:
c = {2,4,5,7}
c.update([1,3,6])
c

{1, 2, 3, 4, 5, 6, 7}

In [21]:
c.discard(6)  # -- if item is not present doesn't give error
# c.remove()    -- if item is not present give error
c

{1, 2, 3, 4, 5, 7}

In [22]:
# set operations

In [23]:
# union AUB
s1 = {1,2,3,4,5}
s2 = {2,4,6,8}
s1.union(s2)
# you can write (S1 | S2)

{1, 2, 3, 4, 5, 6, 8}

In [24]:
# Intersection AnB 
s1 = {1,2,3,4,5}
s2 = {2,4,6,8}
s1.intersection(s2)
# you can write (S1 & S2)

{2, 4}

In [25]:
# difference A-B != B-A
s1 = {1,2,3,4,5}
s2 = {2,4,6,8}
s1.difference(s2)
# you can write (S1 - S2)

{1, 3, 5}

In [26]:
# Symmetric difference (common k ilawah saare)
s1 = {1,2,3,4,5}
s2 = {2,4,6,8}
s1.symmetric_difference(s2)
# you can write (S1 ^ S2)

{1, 3, 5, 6, 8}

In [27]:
# disjoint (no item is common)
print(s1.isdisjoint(s2))
# subset
print(s1.issubset(s2))
# superset
print(s1.issuperset(s2))

False
False
False

In [28]:
# create an immutable set 
fs = frozenset({1,2,3,4})