In [4]:
# Parameters are used when we creates function
# Arguments are used when we calls a function

In [2]:
print("""Types of arguments

1. Default Arguments
2. Positional Arguments
3. Keyword Arguments
""")

Types of arguments

1. Default Arguments
2. Positional Arguments
3. Keyword Arguments

In [3]:
# default parametres are used run the code error free by user-end
def exp(a=1,b=1):
    return a ** b

print(exp(2))

2

In [5]:
# Position argument term refers to the order of arguments when calling a function

In [7]:
# Keyword argument (used when function has large no of arguments)
print(exp(b=3,a=2))

8

In [8]:
# *args and **kargs

In [10]:
def sum_of_digits(*args):
    
    # *args has tuple (7,3,8,2,6)
    sod = 0
    
    for i in args: # tuple
        sod = sod + i
    return sod

print(sum_of_digits(7,3,8,2,6))

26

In [15]:
print(type.__doc__)
print(print.__doc__)

type(object) -> the object's type
type(name, bases, dict, **kwds) -> a new type
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [23]:
def display(**kwargs):
    # kwargs convert arguments into dictionary
    for (key,value) in kwargs.items():
        print(key, '>', value)

a = display(india='Dehli',pakistan='Islamabad',usa='Washington DC')
print(a)

india > Dehli
pakistan > Islamabad
usa > Washington DC
None

In [21]:
# order of arguments

# normal -> *agrs -> **kwargs

In [22]:
# How functions are executed in the memory (create separate space in memory)
# life span of function (calling hone se lekr value return hone tak, then memory se remove)

In [24]:
# Lambda function is used in Higher order functions
    # That recieves function as input
    # That returns function as output

In [26]:
a = lambda x,y: x+y
print(a(2,4))

6

In [28]:
def cube(a=1,b=1):
    return a ** 3

def transform(f, lst):
    output = []
    for i in lst:
        output.append(f(i))
    
    return output

lst = [1,2,3,4,5]
print(transform(cube,lst))

[1, 8, 27, 64, 125]

In [29]:
def transform(f, lst):
    output = []
    for i in lst:
        output.append(f(i))
    
    return output

lst = [1,2,3,4,5]
print(transform(lambda x: x**3,lst))

[1, 8, 27, 64, 125]

In [30]:
# map function (expect lambda or list)

list(map(lambda x:x**2, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [31]:
# labeling the list (even or odd)
list(map(lambda x: 'even' if x % 2 == 0 else 'odd', [1,2,3,4,5]))

['odd', 'even', 'odd', 'even', 'odd']

In [33]:
# fetch names of a user from a list that contain records in the form of dictionary

user = [
    {
        'name': 'Sami',
        'age': 25,
        'city': 'Karachi'
    },
    {
        'name': 'Saif',
        'age': 22,
        'city': 'Los Angeles'
    },
    {
        'name': 'Taha',
        'age': 24,
        'city': 'Sydney'
    }
]
list(map(lambda users: users['name'], user))

['Sami', 'Saif', 'Taha']

In [34]:
# Filter

lst2 = [3,4,8,6,7]

list(filter(lambda x:x>5,lst2))

[8, 6, 7]

In [35]:
lst3 = ['apple', 'cherry', 'chickoo', 'orange']

list(filter(lambda x: 'a' in x, lst3))

['apple', 'orange']

In [36]:
lst3 = ['apple', 'cherry', 'chickoo', 'orange']

list(filter(lambda x: x.startswith('c'), lst3))

['cherry', 'chickoo']

In [38]:
# Reduce

import functools
functools.reduce(lambda x,y:x+y, [1,2,3,4,5])

# working
#  1,2 : 1 + 2 = 3
#  3,3 : 3 + 3 = 6
#  6,4 : 10 + 5 = 15

15

In [40]:
# find maximum
functools.reduce(lambda x,y : x if x>y else y, [12, 4, 13, 23])

23