In [1]:
a = """
1. Dictionaries are the collection of keys and Values
2. Stores value in pairs {'key':'value'}
3. Mutable
4. Accessing (indexing/slicing) are not allow
5. Keys can'y be duplicated
6. Keys can't be mutable items which measn you can't store list, sets, and dictionaries as key 
"""

In [16]:
# Create Dictionary

# empty
d1 = {}
print(d1)
# 1D dictionary + (homogenous)
d2 = {'name':'saif', 'age':24, 'college':'CAA'}
print(d2)
# Mixed keys (heterogenous)
d3 = {'name':'sami', 2:'24'}
print(d3)
# 2D dictionary
d4 = {'name' : 'Jeff', 
      'age': 35, 
      'favorites': {    'fav_movies': ['Thor', 'IronMan2', 'Avengers'], 
                        'fav_car': ['Toyata', 'Lamborghini']}}
print(d4)
# Using dict() function
d5 = dict([[1,20],[2,40],[3,60]])
print(d5)
# Duplicate keys
d6 = {'name':'Saif', 'name': 'Sami'}
print(d6)

{}
{'name': 'saif', 'age': 24, 'college': 'CAA'}
{'name': 'sami', 2: '24'}
{'name': 'Jeff', 'age': 35, 'favorites': {'fav_movies': ['Thor', 'IronMan2', 'Avengers'], 'fav_car': ['Toyata', 'Lamborghini']}}
{1: 20, 2: 40, 3: 60}
{'name': 'Sami'}

In [25]:
# Accessing Values Single

d7 = {'name':'John', 'age':22, 'college':'Bahria'}

# key values
print(d7['name'])
# get function
print(d7.get('age'))

John
22

In [28]:
# Adding key value pair

d7['name'] = 'Johnny'
d7['gender'] = 'male'
print(d7)

# 2D value
#d7['fav']['movies'] = 'singham'

{'name': 'Johnny', 'age': 22, 'college': 'Bahria', 'gender': 'male'}

In [31]:
# Remove key value pair
d8 = {'name':'John', 'age':22, 'college':'Bahria', 'class':'IX-B'}

# pop
d8.pop('class')
print(d8)

# pop item (delete last item)
d8.popitem()
print(d8)

# del
# del d8['name']

# clear (to make it empty)
# d8.clear

{'name': 'John', 'age': 22, 'college': 'Bahria'}
{'name': 'John', 'age': 22}

In [33]:
# Operations

# d8 = {'name':'John', 'age':22, 'college':'Bahria', 'class':'IX-B'}

print('name' in d8)
print('class' in d8)

True
False

In [37]:
# Loops in Dictionaries
d9 = {'name':'Laura', 'age':20, 'University':'UCLA', 'class':'CSB-S4'}

for i in d9:
    print("{} : {}".format(i,d9[i]))

name : Laura
age : 20
University : UCLA
class : CSB-S4

In [39]:
# Function

print(max(d9))
print(min(d9))
print(len(d9))
print(sorted(d9))

name
University
4
['University', 'age', 'class', 'name']

In [40]:
#  Items / Keys / Values

print(d9.items())
print(d9.keys())
print(d9.values())

dict_items([('name', 'Laura'), ('age', 20), ('University', 'UCLA'), ('class', 'CSB-S4')])
dict_keys(['name', 'age', 'University', 'class'])
dict_values(['Laura', 20, 'UCLA', 'CSB-S4'])

In [42]:
# Dictionar Comprehensions

# {key:value for vars in iterable}

In [46]:
# print 1st 10 numbers and their square
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [45]:
# convert given distance into km using existing dictionary
dictionary = {'Lahore': 1000, 'Karachi': 2600, 'Islamabad': 2100}
{key: values * 0.16 for (key,values) in dictionary.items()}

{'Lahore': 160.0, 'Karachi': 416.0, 'Islamabad': 336.0}

In [47]:
# using zip()
days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thr', 'Fri', 'Sat']
temperature = [22, 13.6, 17.7, 21.8, 11.4, 16.7, 15.3]

{i:j for (i,j) in zip(days,temperature)}

{'Sun': 22,
 'Mon': 13.6,
 'Tue': 17.7,
 'Wed': 21.8,
 'Thr': 11.4,
 'Fri': 16.7,
 'Sat': 15.3}

In [52]:
# using if statement

products = {'phone':10, 'laptop':0, 'charger':12, 'tablet':0}
{key:value for (key,value) in products.items() if value > 0}

{'phone': 10, 'charger': 12}

In [58]:
# nested comprehension
'''Table = {
    2: {1:2, 2:4, 3:6, 4:8, 5:10},
    3: {1:3, 2:6, 3:9, 4:12, 5:15},
    4: {1:4, 2:8, 3:12, 4:16, 5:20},
    5: {1:5, 2:10, 3:15, 4:20, 5:25},
}'''

{i:{j: i*j for j in range(1,11)} for i in range(2,6)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40},
 5: {1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45, 10: 50}}

In [59]:
#The End